@model Product



<p>@Model.ProductId</p>
<h1>@Model.ProductName</h1>
<p>@Model.Price</p>
<p>
    <a href="/Product">Products</a>
</p>


@section Header {
    <div>
        Header Only for Get
    </div>
}