@model StoreApp.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>@Model.ProductId</p>
    <h1>@Model.ProductName</h1>
    <p>@Model.Price</p>
    <p>
        <a href="/Product">Products</a>
    </p>
</body>
</html>